h1,h2,h3,h4,h5 {
	margin-bottom: 1em;
}

h1 {
	font-size: 24px;
}
#CopyToHdfs, #DeleteFile,#getHdfsFile,#CreateFile,#ListStatus,#RenameFile{
 background: #fff;
}
#CopyToHdfs label ,DeleteFile label{
    display: block;
    color: #333;
}

#CopyToHdfs input[type=text],DeleteFile input[type=text] {
    width: 250px;
}



#CopyToHdfs .buttons ,DeleteFile.buttons{
    margin-top: 20px;
}