h1,h2,h3,h4,h5 {
	margin-bottom: 1em;
}

h1 {
	font-size: 24px;
}
#RouteCount, #ModelsCount ,#AverageSpeedCount{
 background: #fff;
}
#RouteCount label ,#ModelsCount label, #AverageSpeedCount label{
    display: block;
    color: #333;
}

#RouteCount input[type=text] ,#ModelsCount  input[type=text], #AverageSpeedCount input[type=text]{
    width: 200px;
}



#RouteCount .buttons, #ModelsCount.buttons,AverageSpeedCount.buttons{
    margin-top: 20px;
}