
<!DOCTYPE html>
<!--<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Charting</title>
    <link href="@{'public/stylesheets/basic.css'}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="http://filamentgroup.github.com/EnhanceJS/enhance.js"></script> 
    <script type="text/javascript">
        // Run capabilities test
        enhance({
            loadScripts: [
                {src: '@{'public/javascripts/excanvas.js'}', iecondition: 'all'},
                'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js',
                '@{'public/javascripts/visualize.jQuery.js'}',
                '@{'public/javascripts/example2.js'}'
            ],
            loadStyles: [
                '@{'public/stylesheets/visualize.css'}',
                '@{'public/stylesheets/visualize-dark.css'}'
            ]   
        });   
    </script>
      <style type="text/css">
        /*some demo styles*/
        body { font-size: 62.5%; }
        .enhanced h2, .enhanced pre { margin: 3em 20px .5em; }
        .enhanced pre { width: 50%; height: 50%; overflow: auto; font-size: 1.4em; margin-top: 0; background: #444; padding: 15px; color: #fff; }
    </style>
</head>
<body>

<table>
    <caption>2009 Employee Sales by Department</caption>
    <thead>
        <tr>
            <td></td>
            <th scope="col">1-2+1-4</th>
            <th scope="col">1-4+1-6</th>
            <th scope="col">1-6+1-8</th>
            <th scope="col">1-10+1-14</th>
            <th scope="col">1-12+1-16</th>
            <th scope="col">1-16+1-18</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Guangzhou To Shenzhen</th>
            <td>1452658</td>
            <td>1792322</td>
            <td>1778355</td>
            <td>1825305</td>
            <td>1757813</td>
            <td>1653503</td>
        </tr>
      
     
    </tbody>
</table>    

</body>
</html>-->

#{extends 'main.html' /}

<h1 id="title">Job Example</h1>
<p class="light">
   
</p>
<hr />
<h2 id="jobName" style="font-size:150%">
    路段-车流
</h2>   

<p>
    用户需要提交参数
</p> 
<ul>
   <li>inputPath:/RedMap/DataFile/input  </li>
   <li>outputPath:/RedMap/DataFile/output</li>
   <li>startDate: </li>
   <li>endDate: </li>
</ul>   

