<!--总tab层的内容-->
<div class="tabs">
    <ul>
      <li><a href="@{MainFunction.hdfsOperationChosen('')}"><span>HDFS Operation</span></a></li>
      <li><a href="@{MainFunction.getFile('')}"><span>HDFS View</span></a></li>
      <li><a href="@{MainFunction.jobChosen('')}"><span>Job Service</span></a></li>
      <li><a href="@{MainFunction.jobStatus('')}"><span>JobStatus</span></a></li>
      <li><a href="@{MainFunction.example('')}"><span>Example</span></a></li>
    </ul>
 </div><!--End tabs-->