


    <h1 id="title">getHdfsFile</h1>
    <p class="space">
    
    </p>
    

    <form accept-charset="${_response_encoding}" action=
    "/FileOperationSample/getHdfsFileGetPara" enctype="multipart/form-data" method="post">
      <p>
    <label>HdfsFile</lable>
    <input name="sFile" type="text">
</p>
<p>
    <label>SourcePath</lable>
    <input name="dPath" type="text">  
</p>
<p class="buttons">
    <input type="submit" value="Download" id="SubmitButton"  />
</p>
    </form>
    
   