
<!--HdfsOperationChosen 选择内容-->
<!--<div id="accordion" >-->
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/hdfsOperation.css'}" />
    <h1 id="title"   style="font-size:200%">HDFS 文件操作</h1>
    <h3 style="font-size:150%">CopyToHdfs</h3>
    
   <div>
     <form id="CopyToHdfs" accept-charset="${_response_encoding}" action=
    "/FileOperationSample/CopyToHdfsGetPara" enctype="multipart/form-data" method="post">
      <p>
        <label>SourceFile</lable>
        <input name="hFile" type="file">
      </p>
      <p>
        <label>DestinationPath</lable>
        <input name="hPath" type="text">  
    </p>
    <p class="buttons">
        <input type="submit" value="Upload" id="SubmitButton"  />
    </p>
    </form>
    <p></p>
   </div>
    
    <h3 style="font-size:150%">DeleteHdfsFile</h3>
  <div> 
    <form id="DeleteFile" accept-charset="${_response_encoding}" action=
    "/FileOperationSample/DeleteFileGetPara" enctype="multipart/form-data" method="post">
      <p>
        <label>FileName</lable>
        <input name="hFile" type="file">
        </p>

      <p class="buttons">
        <input type="submit" value="Submit" id="SubmitButton"  />
        </p>
    </form>
    <p></p>
   </div>
    
    <h3  style="font-size:150%">GetHdfsFile</h3>
  <div>  
     <form id="getHdfsFile" accept-charset="${_response_encoding}" action=
    "/FileOperationSample/getHdfsFileGetPara" enctype="multipart/form-data" method="post">
      <p>
         <label>HdfsFile</lable>
        <input name="sFile" type="text">
    </p>
    <p>
        <label>SourcePath</lable>
        <input name="dPath" type="text">  
    </p>
    <p class="buttons">
        <input type="submit" value="Download" id="SubmitButton"  />
    </p>
    </form>
    <p></p>
  </div>
  
  <h3 style="font-size:150%">CreateFileInHdfs</h3>
  <div>
    
    <form id="CreateFile" accept-charset="${_response_encoding}" action=
    "/FileOperationSample/CreateHdfsFileGetPara" enctype="multipart/form-data" method="post">
    <p>
        <label>DestinationPath</lable>
        <input name="hPath" type="text">  
    </p>
    <p class="buttons">
        <input type="submit" value="Submit" id="SubmitButton"  />
    </p>
    </form>
    
  </div>
  
  <h3 style="font-size:150%">ListStausInHdfs</h3>
  <div>
    
    <form id="ListStatus" accept-charset="${_response_encoding}" action=
    "/FileOperationSample/ListStatusGetPara" enctype="multipart/form-data" method="post">
   <p>
    <label>DestinationPath</lable>
    <input name="hPath" type="text">  
   </p>
    <p class="buttons">
        <input type="submit" value="Submit" id="SubmitButton"  />
    </p>
    </form>
    
  </div>
  
   <h3 style="font-size:150%">RenameFile</h3>
  <div>
    <form id="RenameFile" accept-charset="${_response_encoding}" action=
    "/FileOperationSample/RenameHdfsFileGetPara" enctype="multipart/form-data" method="post">
    <p>
        <label>FilePath</lable>
        <input name="hPath" type="text">  
    </p>
    <p class="buttons">
        <input type="submit" value="Submit" id="SubmitButton"  />
    </p>
    </form>
  </div>
   
<!--</div>-->



